﻿<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Try Catch Store</title>
	<meta name="viewport" content="width=device-width">
	@Styles.Render("~/Content/css")
</head>
<body ng-app="storeApp" >
	<div class="header" ng-controller="MainCtrl">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">					
					<a class="navbar-brand" href="#/">Try Catch Store</a>
				</div>

				<ul class="nav navbar-nav">
					<li><a href="#/about">About</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right" >
					<li>
						<a href="#/cart">
							<i class="glyphicon glyphicon-shopping-cart"></i>
							Cart <small ng-bind="cartCount"></small>
						</a>
					</li>
				</ul>			
			</div>			
		</div>
	</div>

	<div class="container">
		<div ui-view></div>
	</div>

	@Scripts.Render("~/bundles/core")
	@Scripts.Render("~/bundles/app")
</body>
</html>
