﻿<h1>Greetings!</h1>

<p>
	This is a demo Webshop for Try Catch developed by <a href="mailto:tonholis@gmail.com">Cleyton Tonholi</a>.
</p>
<p>What was used here?</p>
<ul>	
	<li>ASP.NET MVC 5</li>
	<li>Web API for listing products from XML catalog</li>
	<li>Entity Framework 6</li>
	<li>Sql Server LocalDB to store Customers and Orders</li>
	<li>Autofac as inversion of control container for Dependency Injection</li>
	<li>AngularJS</li>
	<li>Bootstrap</li>
	<li>Visual Studio 2015 on a Macbook Pro using Parallels</li>
	<li>Git with Bitbucket</li>
</ul>
<br />
<h4>Feel free to hire me! ;)</h4>
<a href="https://linkedin.com/in/cleytontonholi" target="_blank">https://linkedin.com/in/cleytontonholi</a>