﻿<div ng-controller="CartCtrl as vm" class="row">
	<h1>Shopping cart</h1>

	<div class="row">
		<div class="col-sm-12">
			<a href="#/" class="btn btn-primary">Continue to shopping</a>			
			<a href="#/checkout" ng-show="cartTotal > 0" class="btn btn-success pull-right">Checkout</a>
		</div>
	</div>

	<div ng-if="vm.data.Items.length > 0">
		<table class="table">
			<colgroup>
				<col />
				<col width="100" />
				<col width="150" />
				<col width="100" />
			</colgroup>
			<thead>
				<tr>
					<th></th>
					<th>Unit Price</th>
					<th>Quantity</th>
					<th>Sub-Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in vm.data.Items">
					<td>
						<h4 ng-bind="p.Title"></h4>
						<div ng-bind="p.Code"></div>
					</td>
					<td ng-bind="p.Price | number:2" class="text-right"></td>
					<td class="text-center">
						<input type="number" ng-model="p.Quantity" maxlength="3" min="1" max="99" style="width:40px;" />
						<button ng-click="vm.updateItem(p)" class="btn btn-xs btn-warning">
							<i class="glyphicon glyphicon-repeat"></i>
						</button>
						<button ng-click="vm.removeItem(p)" class="btn btn-xs btn-danger" title="Remove item">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</td>
					<td ng-bind="p.SubTotal" class="text-right"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Sub-Total:</td>
					<td class="text-right" ng-bind="vm.data.SubTotal | number:2"></td>
				</tr>
				<tr>
					<td colspan="3" class="text-right">VAT (10%):</td>
					<td class="text-right" ng-bind="vm.data.TotalVAT | number:2"></td>
				</tr>
				<tr>
					<td colspan="3" class="text-right">Total:</td>
					<td class="text-right" ng-bind="vm.data.Total | number:2"></td>
				</tr>
			</tfoot>
		</table>

		<a href="#" ng-show="cartTotal > 0" ng-click="vm.clear()" class="btn btn-danger">Clear cart</a>
	</div>
	
	<div class="row" ng-if="vm.data.Items.length == 0" style="margin-top:20px">
		<div class="col-sm-12">
			<div class="alert alert-info">
				<p>There is on items in the cart yet</p>
			</div>
		</div>
	</div>
</div>
