﻿<div ng-controller="CatalogCtrl as vm">
	<div class="row">
		<table class="table">
			<colgroup>
				<col width="40" />
				<col/>
				<col />
				<col width="100" />
				<col width="100" />
			</colgroup>
			<thead>
				<tr>
					<th>Code</th>
					<th>Product</th>
					<th>Description</th>
					<th>Unit Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in vm.data.Records">
					<td ng-bind="p.Code"></td>
					<td nowrap ng-bind="p.Title"></td>
					<td ng-bind="p.Description"></td>
					<td ng-bind="p.Price | number:2"></td>
					<td>
						<a href="#" ng-click="vm.showDetails(p)">
							<i class="glyphicon glyphicon-zoom-in"></i> Details
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr ng-if="vm.data.Records.length == 0">
					<td colspan="5">
						<div class="alert alert-danger">
							Records not found.
						</div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">			
			<uib-pagination total-items="vm.data.TotalCount"
							items-per-page="vm.params.PageSize"
							ng-model="vm.params.Page"
							previous-text="&lsaquo;"
							next-text="&rsaquo;"
							ng-change="vm.search()">
			</uib-pagination>
			<h4>There are <span ng-bind="vm.data.TotalCount"></span> products available.</h4>
		</div>
	</div>	
</div>

<!-- Init Modal Detail  -->
<script type="text/ng-template" id="modalDetail">
	<div class="header col-md-12">
		<div class="col-md-12 text-center">
			<h2>
				{{vm.product.Title}}
			</h2>
		</div>
	</div>
	<div class="col-md-12">
		<p>
			{{vm.product.Description}}
		</p>
	</div>

	<div class="modal-body clearfix">
		<form role="form">
			<div class="form-group col-md-2">
				<label>Code:</label>
				<span ng-bind="vm.product.Code"></span>
			</div>
			<div class="form-group col-md-2">
				<label>Price:</label>
				<span ng-bind="vm.product.Price | number:2"></span>
			</div>
			<div class="form-group col-md-2 col-md-offset-3">
				<label>Quantity:</label>
				<input class="form-control" type="number" ng-model="vm.product.Quantity" maxlength="3">
			</div>

			<div class="col-md-2">
				<button class="btn btn-primary" ng-click="vm.addCart()" style="margin-top:25px;">
					<i class="glyphicon glyphicon-plus-sign"></i> Add to cart
				</button>
			</div>
		</form>
	</div>
</script>
<!-- End Modal Detail  -->

