﻿<div ng-controller="CheckoutCartCtrl as vm">
	<div class="row">
		<h1>Checkout - Registration</h1>

		<div class="panel panel-danger" ng-if="vm.result && !vm.result.Success">
			<div class="panel-heading">
				Please check the errors bellow and try again
			</div>
			<div class="panel-body">
				<p ng-repeat="e in vm.result.Errors">{{e.join('')}}</p>
			</div>
		</div>

		<form>
			<div class="col-sm-6">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" ng-model="vm.cust.Title" placeholder="Mr">
				</div>
				<div class="form-group">
					<label>First name</label>
					<input type="text" class="form-control" ng-model="vm.cust.FirstName" placeholder="John">
				</div>
				<div class="form-group">
					<label>Last name</label>
					<input type="text" class="form-control" ng-model="vm.cust.LastName" placeholder="Connor">
				</div>
				<div class="form-group">
					<label>Email address</label>
					<input type="email" class="form-control" ng-model="vm.cust.Email" placeholder="john@gmail.com">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label>Address</label>
					<input type="text" class="form-control" ng-model="vm.cust.Address" placeholder="5th Avenue">
				</div>
				<div class="form-group">
					<label>Address Number</label>
					<input type="text" class="form-control" ng-model="vm.cust.AddressNumber" placeholder="999">
				</div>
				<div class="form-group">
					<label>Zip code</label>
					<input type="text" class="form-control" ng-model="vm.cust.ZipCode">
				</div>
				<div class="form-group">
					<label>City</label>
					<input type="text" class="form-control" ng-model="vm.cust.City" placeholder="New York">
				</div>
			</div>
		</form>
	</div>
	<hr />
	<div class="row">
		<button class="btn btn-primary" ng-click="vm.proceed()" ng-disabled="vm.processing">Proceed to checkout</button>
		<span class="checkout-total">Total: <span ng-bind="cartTotal | number:2"></span></span>
	</div>

	
</div>

<style>
	.checkout-total {
		margin-left: 20px;
		font-size: 18px;
	}
</style>
